body {
    display: flex;
    background-color: rgb(31, 31, 31);
    size: 100vh;
    flex-direction: column;
}
nav {
    background-color: rgb(51, 51, 51);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
nav button {
    padding-left: 20px;
}
nav .search_bar {
    display: flex;
    flex-direction: ;
}