body {
    margin: 0; /* Removes the gap between top of the page and navbar */
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(31, 31, 31);
    height: 3vh;
    padding: 0 20px;
}

nav h2 {
    color: aliceblue;

    border-radius: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav .search_bar {
    display: flex;
    gap: 10px; /* This puts spacing between input and button */

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav input {
    padding: 5px;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav button {
    padding: 5px 10px;
    background-color: aliceblue;
    border-radius: 10px;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
