<!--========================================    
    Cart page for shop website
    File: cart.html
    Author: Carter Baxendale
    Date: April 2026
========================================-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ USERNAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- I hate having to use url_for it just slightly confuses me -->
</head>
<body>
    <nav class="nav_main"> 
        <img src="{{ url_for('static', filename='images/crown_logo.png') }}" alt="Crown Logo">
        <a href="{{ url_for('home') }}">
            <h2> Crown Jewels </h2>
        </a>
        <div class = "navbar_links">
            <div class="dropdown_menu">
                <a href="{{ url_for('shop', SORT='NONE') }}"> Shop <span class="dropdown">⏷</span> </a>
                <ul class="shop_dropdown">
                    {% for p in globalProducts %}
                    <a href = "/product/{{ p.id }}">
                        <li>
                            {{ p.name }}    
                        </li>
                    </a>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="cart">
            <div class="search_bar">
                <form action="{{ url_for('search') }}" method="post">
                    <input type="text" name="SEARCH_BOX" placeholder="Search...">
                    <button type="submit"><img src="{{ url_for('static', filename='images/search_icon.png') }}"></button>
                </form>
            </div>
            <div class="cart_button">
                <a href="{{url_for('view_cart')}}"> <img src="{{ url_for('static', filename='images/card.png') }}" alt="Shopping Cart Icon"> </a> <!-- all variables set by flask have to be wrapped inside those brackets I guess -->
            </div>
        </div>
    </nav>
    <nav class="nav_bottom"> FREE shipping on orders above $1750! </nav>
    <div name="main">
        <h1 class="cart_text">Your Shopping Cart</h1>

        {% if CART_ITEMS %}
            <div class="cart_container">
                {% for item in CART_ITEMS %}
                <div class="cart_item">
                    <img src="{{ url_for('static', filename='images/products/' + item.image) }}" width="50">
                    <span>{{ item.name }}</span>
                    
                    <span>
                        <a href="{{ url_for('remove_from_cart', item_id=item.id) }}"><button>-</button></a>
                        Quantity: {{ item.quantity }}
                        <a href="{{ url_for('add_cart', item_id=item.id) }}"><button>+</button></a>
                    </span>
                    
                    <span>
                        Subtotal: ${{ item.subtotal }}
                        <a class="cart_removebutton" href="{{ url_for('remove_all_from_cart', item_id=item.id) }}"><button>×</button></a>
                    </span>
                </div>
                {% endfor %}
                
                <hr>
                <h3>Total: ${{ TOTAL }}</h3>
                <button> <a href="{{ url_for('purchase') }}"> Checkout </a></button>
            </div>
        {% else %}
            <p class="cart_text">Your cart is empty. Go buy some jewels!</p>
        {% endif %}
    </div>
</body>
</html>