<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ USERNAME }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> <!-- I hate having to use url_for it just slightly confuses me -->
</head>
<body>
    <nav> 
        <img src="{{ url_for('static', filename='images/crown_logo.png') }}" alt="Crown Logo">
        <h2> Crown Jewels </h2>
        <div class = "navbar_links">
            <a href="{{ url_for('home') }}">Home</a>

            <div class="dropdown_menu">
                <a href="#">Shop <span class="dropdown">⏷</span> </a>
                <ul class="shop_dropdown">
                    <li>Test-1</li>
                    <li>Test-2</li>
                </ul>
            </div>
        </div>
        <div class="cart">
            <div class="search_bar">
                <form action="{{ url_for('search') }}" method="post">
                    <input type="text" name="SEARCH_BOX">
                    <button type="submit">Search</button>
                </form>
            </div>
            <div class="cart_button">
                <img src="{{ url_for('static', filename='images/card.png') }}" alt="Shopping Cart Icon"> </span> <!-- all variables set by flask have to be wrapped inside those brackets I guess -->
            </div>
        </div>
    </nav>
    <div name="main">
        <div class="product_images">
            {% for p in PRODUCTS %}
                <div class="product_image">
                    <p>{{ p.name }}</p>
                    <p>{{ p.price }}</p>
                    <img src="{{ url_for('static', filename='images/products/' + p.image) }}">
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>