<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{NAME}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav> 
        <button>button 1</button>
        <button>button 2</button>
        <button>button 3</button>
        <button>button 4</button>
        <div name = search_bar>
            <input type="text" name="input_box", placeholder="Search...">
            <button> Search </button>
        </div>
    </nav>
    <div name="main">

    </div>
</body>
</html>