<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{USERNAME}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <nav> 
        <h1> NCEA test store </h1>
        <div name = "search_bar" class = "search_bar">
            <input type="text" name="input_box", placeholder="Search...">
            <button> Search </button>
        </div>
    </nav>
    <div name="main">

    </div>
</body>
</html>